@import 'customMixins';
@import 'customVariable';
// Navbar
.navbar {
    border-bottom: 1px solid darken($gray-400, 5%);
    .navbar-toggler {
        border: none;
        &:focus {
            @include focusDelete();
        }
    }
    .navbar-nav {
        li.nav-item {
            a.nav-link{
                &.active {
                    color: $gray-600;
                }
                color: lighten($gray-500,15%);
            }
        }
    }
}
.hero-container {
    margin-bottom: 160px;
    h1.covid__title {
        color: $gray-600;
        font-weight: 600;
        font-size: 40px;
    }
    p.covid__description {
        color: $gray-500;
        font-size: 14px;
        font-weight: 400;
    }
    .col__content__hero {
        padding-top: 160px;
    }
    .btn-hero {
        box-shadow: 0px 10px 30px rgba(123, 123, 123, 0.15);
        padding: 10px 40px;
        border-radius: 0px 20px 20px 20px;
        position: relative;
        transition: .4s ease-in-out;
        color: #FFF;
        font-size: 14px;
        background-color: $red; 
        &:hover {
            background-color: #FFF;
            color: $red;
        }
    }
    .image__hero {
        height: 550px;
    }
}
.data-container {
    margin-bottom: 80px;
    .card__body__covid {
        border-radius: 25px;
        border: none;
        background-color: #FFF;
        box-shadow: 0px 10px 30px rgba(123, 123, 123, 0.1);
        padding: 80px 5px;
    }
    .data__country,
    .data__confirmed,
    .data__death,
    .data__recovery {
        font-weight: 600;
        font-size: 31px;
    }
    .data__country,
    p.data__desc_1,
    .data__confirmed,
    p.data__desc_2 {
        color: $gray-600;
    }
    .data__recovery,
    p.data__desc_3 {
        color: $green;
    }
    .data__death,
    p.data__desc_4 {
        color: $red;
    }
    .covid__source {
        position: absolute;
        top: 220px;
        .title__source {
            font-weight: 400;
            font-style: italic;
            font-size: 13px;
            color: $gray-600;
        }
    }
}
.about-container {
    margin-bottom: 150px;
    .image__about {
        height: 350px;
    }
}
.symptoms-container {
    margin-bottom: 150px;
    .card {
        border: none;
    }
    .bg__image {
        height: 390px;
    }
}
.contagion-container {
    background-color: #E9ECEF;
    width: 100%;

    .col__custom {
        padding: 8px;
        .card-custom {
            border-radius: 25px;
            border: none;
            transition: .5s;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            img {
                width: 159.991px;
                margin: 0 auto;
            }
            .card__description {
                font-weight: 500;
                font-size: 15px;
                color: $gray-600;
            }
        }
    }
    .content__right {
        margin-top: 8rem;
    }
}
.prevention-container {
    .card__prevention {
        background-color: white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        border: none;
        .content {
            .content__card {
                flex-direction: column;
            }
            img {
                width: 108px;
                height: 120px;
            }
            .prevention__title {
                font-size: 24px;
                font-weight: 600;
                color: $gray-600;
            }
        }
    }
}
footer {
    margin-top: 90px;
    border-top: 1px solid $gray-200;
    padding-top: 50px;
  
    .brand-tagline {
        margin-top: 8px;
        color: $gray-500;
        font-weight: 300;
    }

    .list-group-item {
        padding: 0.3125rem 0;
        border: 0;
        a {
        color: $gray-500;
        font-weight: 300;
        }
        a {
        @include hover-focus {
        color: $gray-800;
        text-decoration: none;
        }
        }
    }
    .copyrights {
        margin: 50px 0;
        font-weight: 300;
        color: $gray-500;
    }
}